{% extends 'layout.html' %}
{% block content %}
    <div class="well">
        <h1>Dear, {{ first_name }}</h1>
        <h3> {{ message }}</h3>
        <button type="button" class="btn"><a href="/">Back to main page</a></button>
        <button type="button" class="btn"><a href="/results">Check winner</a></button>
    </div>
{% endblock %}