{% extends 'layout.html' %}
{% block content %}
    <div class="col-xs-12">
        <div class="well">
            <h3>Want a chance to win amazing prizes? Register now!</h3>
            <form name="register" style="width: 40%" method="post" action="/confirmation">
                <div class="form-group">
                    <label for="user_email">Email address</label>
                    <input type="email" class="form-control" id="user_email" name="user_email"
                           placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="first_name">First Name</label>
                    <input type="text" class="form-control" id="first_name" name="first_name"
                           placeholder="First Name">
                </div>
                <div class="form-group">
                    <label for="last_name">Last Name</label>
                    <input type="text" class="form-control" id="last_name" name="last_name"
                           placeholder="Last Name">
                </div>
                <button type="button" class="btn"><a href="/results">Check winner</a></button>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>

        </div>

    </div>
{% endblock %}