<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">

    <title> Fair lottery! Win super prize!</title>
</head>
<body>
<div class="row">
    {% block content %}{% endblock %}
</div>

</body>
</html>