{% extends 'layout.html' %}
{% block content %}
    <div class="well">
        <h1>Currently there is not enough users to start lottery :(</h1>
        <button type="button" class="btn"><a href="/">Back to main page</a></button>
    </div>
{% endblock %}