{% extends 'layout.html' %}
{% block content %}
    <div class="well">
        <h1>Congratulations, {{ winner[0] }} {{ winner[1] }}</h1>
        <h3>Your email {{ winner[2] }} was chosen as a winner by our fair random system!</h3>
        <h3>Feel free to contact us to get your prize!</h3>
        <button type="button" class="btn"><a href="/">Back to main page</a></button>
    </div>
{% endblock %}